
.brand_logo {
    height: 50px;
    width: 50px;
    position: relative;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    
    
    /* border-radius: 30%; */
    /* border: 1px solid white; */
}
.search {
}
table, th, td {
    border: 1px solid black;
    background: white !important;
    text-align: center;
  }
  .mt-7 {
    margin-top: 7rem !important;
  }
  .loan-btn {
    float: right;
    margin-right: 86px;
    margin-bottom: 20px;
  }
